doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Hapi Prototype
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/components-font-awesome/css/font-awesome.css')
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
  body
    include ../partials/nav
    .container
      block content
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/lodash/lodash.js')
